In [1]:
print('welcome \
       to python')

welcome        to python

In [4]:
print('welcome python')

welcome python

In [5]:
print("welcome to python's world")

welcome to python's world

In [7]:
print("welcome\npython")

welcome
python

In [8]:
print('welcome to python\'s world')

welcome to python's world

In [9]:
print('welcome\tPython')

welcome	Python

In [21]:
country="India"
over=48.1
score=256
print("The score of",country,"is",score,"in",over,"overs")

The score of India is 256 in 48.1 overs

In [20]:
print("The score of %s is %d in %10.1f overs"%(country,score,over))

The score of India is 256 in       48.1 overs

In [22]:
print(f"The score of {country} is {score} in {48.1} overs")

The score of India is 256 in 48.1 overs

In [23]:
else=10

SyntaxError: invalid syntax (<ipython-input-23-422e00de1332>, line 1)

In [24]:
else5=20

In [25]:
x=y=z=50
x

50

In [26]:
id(x)

140730099415408

In [27]:
id(y)

140730099415408

In [28]:
2**5

32

In [29]:
2*5

10

In [32]:
5/2

2.5

In [31]:
10%6

4

In [34]:
5//2

2

In [35]:
5+2

7

In [36]:
5-2

3

In [37]:
x=79
y=79
x==y

True

In [38]:
x>y

False

In [39]:
x>=y

True

In [40]:
a=10
b=20
a!=b

True

In [44]:
a=10
b=20
a+=b
a

30

In [46]:
b=20
a=10
b/=a
b

2.0

In [47]:
x=230
y=1
x|y

231

In [48]:
x&y

0

In [50]:
a = 5
a<<1

10

In [51]:
a=5
a>>1

2

In [52]:
10>4 and 20>m

NameError: name 'm' is not defined

In [53]:
10<4 and 20>m

False

In [54]:
str="python"
"a" in str

False

In [55]:
str="python"
"a" not in str

True

In [56]:
x=40
y=40
x==y

True

In [57]:
x is y

True

In [58]:
x=2.5
y=2.5
x==y

True

In [59]:
x is y

False

In [60]:
x=257
y=257
x==y

True

In [61]:
x is y

False

In [62]:
a=20
b=30
a>30 or 10>9

True

In [63]:
a> 50 and 10>9

False

In [64]:
a=-6
b=-6
a is b

False

In [65]:
a=-5
b=-5
a is b

True